*{
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 19px;
    color: #000000;
    line-height: 25px;
}
body{
    background-color: #FBF3D5;
}
.row{
    padding: 20px;
}
#result-display{
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    /* background-color: black; */
    border-radius: 20px;
}