*{
    padding: 0;
    margin: 0;
    text-align: center;
}
.profile-area{
    display: flex;
    justify-content: center; /*Centering Horizentally*/
    align-items: center; /*Centering Vertically*/
    min-height: 100vh;
    background-color: #FBF3D5;
}
.profile-card{
    width: 400px;
    min-height: 200px;
    padding: 30px;
    margin: 30px;
    background-color: #EFBC9B;
    border-radius: 20px;
}
.profile-photo img{
    border-radius: 50%;
    border: 10px solid #D6DAC8;
    width: 200px;
}